*{
    padding: 0px;
    margin: 0px;
}

.my-logo{
    width:fit-content;
    height: 1%;
}

.my-margin{
    margin-top: 10%;
    padding-left: 2%;
}

.state-map{
    width: auto;
    height: 40%;
}

.my-form{
  border: 3px solid #00000052;
  padding: 20px;
}
